<%= form_with(model: person) do |form| %>

  <%= render 'form_fields', form: form, person: @person %>

  <div class="actions mt-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>

<% end %>
