<div class="row">
  <div class="col-lg-6 col-md-6 mx-auto">
    <h2 class="fw-light">Edit Person</h2>

    <%= render 'form', person: @person %>

    <%= link_to 'Show', @person %> |
    <%= link_to 'Back', people_path %>
  </div>
</div>
