<h1>New Person</h1>

<%= render 'form', person: @person %>

<%= link_to "Home", root_url, class: "btn btn-secondary link-btn" %>
<%= link_to 'Back', edit_user_registration_path, class: "btn btn-secondary link-btn" %>
