<h1><%= t('people.new') %></h1>

<%= render 'form', person: @person %>

<%= link_to t("home"), root_url, class: "btn btn-secondary link-btn" %>
<%= link_to t("cancel"), edit_user_registration_path, class: "btn btn-secondary link-btn" %>
