<div class="container-fluid">
  <div id="map"></div>
</div>

<%# FIXME: delete me, once the actual UI is there :) %>
<div style="display: none;" id="trackingSwitch"></div>

<%= javascript_pack_tag 'building_map', :defer => "defer" %>
