<% if current_user %>
    <h2 class="mb-3 fw-light"><%= 'These are your favourite rooms:' %></h2>

    <% @favourite_rooms.each do |favourite_room| %>
        <ul>
            <li>
                <%= link_to favourite_room.room.name, room_path(favourite_room.room), style: "text-decoration: none;" %>
                <td class="td-btn">
                <button class="delbttn btn btn-secondary" data-room-id="<%= favourite_room.room.id %>" title="<%= t('unfavourite') %>">
                    <i class="fas fa-trash"></i>
                </button>
                </td>
            </li>
        </ul>
    <% end %>
<% else %>
    <p class="alert alert-danger alert-dismissible fade show"> Login to see your favourite list.</p>
<% end %>

<script defer>
  $('.delbttn').each(function() {
      $(this).click(async (e) => {
        const csrfToken = document.querySelector('meta[name="csrf-token"]')?.getAttribute("content") ?? "";

        const body = JSON.stringify({
        favourite: false
        });
        const response = await fetch(
        `/rooms/${$(this).attr('data-room-id')}/favourite`,
        {
            method: "PUT",
            body: body,
            headers: {
            "X-CSRF-TOKEN": csrfToken,
            "Content-Type": "application/json",
            },
        }
        );

        console.assert(response.status === 204); // HTTP "No content"

        $(this).parent('li').remove();
    });
  });
</script>
