<%= render 'layouts/topbar' %>
<div class="row">
  <%= render '/building_map/index' %>
  <div class="app-overlay-bottom" id="_overlay">
    <%= form_with url: search_results_path, method: :get do |form| %>
      <button type="button" class="btn" id="toggle-overlay">
        <i class="fas fa-chevron-up"></i>
      </button>
      <div class="search-bar">
          <%= form.text_field :query, class: "form-control", :placeholder => "Search...", id: "search", :autocomplete => :off %>
        <button type="submit" class="btn"><i class="fa fa-search"></i></button>
      </div>
    <% end %>
    <div id='browse-outlet'></div>
  </div>
</div>

<script>
$('form').submit(function(event) {
    ajaxCall(event, $(this).attr('action'), $(this).serialize());
    $("#_overlay").addClass('open');
    $("#toggle-overlay").addClass('visible');
    $("#toggle-overlay").addClass('open');
});

$('#toggle-overlay').click(function(event) {
    event.preventDefault();
    $("#_overlay").toggleClass('open');
    $("#toggle-overlay").toggleClass('open');
});
</script>
