<div class="row pb-1">
  <div class="col-lg-6 col-md-6 mx-auto">
    <h2 class="fw-light">Edit Event</h2>

    <%= render 'form', event: @event %>

    <%= link_to 'Back', events_path, class: "btn btn-secondary link-btn" %>
    <%= link_to 'Show', @event, class: "btn btn-secondary link-btn" %>
  </div>
</div>