<h1>New Event</h1>

<%= render 'form', event: @event %>

<%= link_to "Home", root_url, class: "btn btn-secondary link-btn" %>
<%= link_to 'Cancel', edit_user_registration_path, class: "btn btn-secondary link-btn" %>
