<h1>New Event</h1>

<%= render 'form', event: @event %>

<%= link_to t("home"), root_url, class: "btn btn-secondary link-btn" %>
<%= link_to t('Cancel'), edit_user_registration_path, class: "btn btn-secondary link-btn" %>
