<h1>New Building</h1>

<%= render 'form', building: @building, longitude: @longitude, latitude: @latitude%>

<%= link_to "Home", root_url, class: "btn btn-secondary link-btn" %>
<%= link_to 'Cancel', edit_user_registration_path, class: "btn btn-secondary link-btn" %>
