<h1>Calendar</h1>


<%= week_calendar(number_of_weeks: 1, events: @events) do |date, events| %>
  <%= date %>
  <% events.each do |event| %>
    <div class="d-flex justify-content-end">
          <div class="col-3">
            <%= event.name %>
          </div>
          <div class="col-3 ">
            <%= event.description %>
          </div>  
    </div>
  <% end %>
<% end %>