<div class="row pb-1">
  <div class="col-lg-6 col-md-6 mx-auto">
    <h2 class="fw-light"><%= t('model.edit', model: t('rooms.one')) %></h2>

    <%= render 'form', room: @room, latitude: @room.location_latitude, longitude: @room.location_longitude %>

    <%= link_to t("back"), rooms_path, class: "btn btn-secondary link-btn" %>
    <%= link_to t("show"), @room, class: "btn btn-secondary link-btn" %>
  </div>
</div>
