@import "colors";

.navbar-custom {
  background-color: $hpi-blue;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  height: 4rem;
  z-index: 1000;

  .container-fluid {
    height: 100%;
  }

  .navbar-nav {
    flex-direction: row;
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 850px;

    .nav-item {
      flex: 1 1 0;
      color: white;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 1rem;

      .nav-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 1rem;
        height: 100%;

        &.active {
          background: white;
          color: $hpi-blue;
        }

        svg {
          margin-bottom: 0.2rem;
        }
      }
    }
  }
}
