$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$lightgray: #f4f4f4;

// See 'Auszug aus dem HPI Corporate Design Manual'
$hpi-orange: #e2681e;
$hpi-red: #b0063a;
$hpi-yellow: #f9a61b;
$hpi-blue: #007a9e;

$mediumgray: #f0f0f0;
$darkgray: #919191;
$pink: #dd1e73;
$uni-potsdam-blue: #104871;
