// Place all the styles related to the BuildingMap controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#offcanvas {
  top: 0;
  height: 100%;
  width: 25%;
}

#map {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.accordion-item {
  background-color: #ffffff !important;
}

.accordion-button:not(.collapsed) {
  background-color: #f4f4f4 !important;
  box-shadow: 0 0 0 0 !important;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0 !important;
}

.route-start-icon {
  color: green;
}

.route-end-icon {
  color: red;
}

.directions-icon {
  color: #007a9e;
  font-size: xx-large;
}

.building-icon {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #eb34de;
  border: 2px solid #eb34de;
  color: #fff;
  text-align: center;
}

.pin-icon1, .pin-icon2 {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 50% 0;
  background: #CA091A;
  position: absolute;
  transform: rotate(-45deg)  translate(9px, -20px);
  left: 50%;
  top: 50%;
}

.pin-icon1::before, .pin-icon2::before {
  width: 14px;
  height: 14px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  transform: rotate(45deg);
  text-align: center;
}

.pin-icon1::before {
  content: '1';
}

.pin-icon2::before {
  content: '2';
}

.indoor-label{
  background: rgba(255, 255, 255, 0) !important;
  border:0 !important;
  border-radius:0px !important;
  box-shadow: 0 0px 0px !important;
}

.time-icon {
  border-radius: 15%;
  background: #3675af;
  color: #fff;
  padding: 8px;
  text-align: center;
}

.target-pin {
  img {
    width: 2rem;
    transform: translate(-1.1rem, -2.6rem);
  }
}

@media screen and (max-width: 800px) {
  #offcanvas {
    width: 100%;
  }
}
