// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "colors";
@import "bootstrap/scss/bootstrap";

.occupancy {
  text-align: center;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  width: 100px;
}

.occupancy.free {
  background-color: $green;
}

.occupancy.occupied {
  background-color: $pink;
}

.name {
  font-size: xx-large;
}

@import "simple_calendar";

table.roomsList #roomName {
  padding-left: 150px;
  padding-right: 15px;
}
table.roomsList #normalRow {
  padding-left: 30px;
  padding-right: 30px;
}

header {
    font-size: large;
}

collapse {
    height: auto;
}

.simple-calendar {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: medium;
  .day {
    font-family: helvetica;
    font-size: small;
  }
  .content {
    padding: 3px 5px 3px 5px;
    background-color: $yellow;
    border-radius: 3px;
    font-size: small;
  }

  .highlighted_event {
    background-color: $hpi-yellow;
  }

  .wday-0 {
    font-size: small;
  }
  .wday-1 {
    font-size: small;
  }
  .wday-2 {
    font-size: small;
  }
  .wday-3 {
    font-size: small;
  }
  .wday-4 {
    font-size: small;
  }
  .wday-5 {
    font-size: small;
  }
  .wday-6 {
    font-size: small;
  }

  .today {
    background-color: cornflowerblue;
  }
  .past {
    font-size: small;
  }
  .future {
    font-size: small;
  }

  .start-date {
    font-size: small;
  }

  .prev-month {
    font-size: small;
  }
  .next-month {
    font-size: small;
  }
  .current-month {
    font-size: small;
  }

  .has-events {
    font-size: small;
  }
}

.favourite {
  border: none;
  background: none;
  font-size: 1.5rem;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #a5a5a5;
  outline: none !important;

  svg[data-prefix="fas"] {
    display: none;
  }

  svg[data-prefix="far"] {
    display: block;
  }

  &:hover {
    transform: scale(1.05);
  }

  &.selected {
    color: #cc3311;
    animation: like-popup 1s;

    svg[data-prefix="fas"] {
      display: block;
    }

    svg[data-prefix="far"] {
      display: none;
    }

    @keyframes like-popup {
      0% {
        transform: scale(1);
      }
      10% {
        transform: scale(0.8);
      }
      60% {
        transform: scale(1.5);
      }
      100% {
        transform: scale(1);
      }
    }

    .calendar-heading {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .calendar-heading a {
        @extend .btn;
        @extend .btn-secondary;
        background-color: $hpi-blue;
        border-color: $hpi-blue;
        border-radius: 2px;
        font-size: small;
    }

    .calendar-heading a:hover {
        background-color: $uni-potsdam-blue;
        border-color: $uni-potsdam-blue;
        font-size: small;
    }
  }
}
