// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "colors";

.occupancy {
    text-align: center;
    border-radius: 5px;
    padding: 0 5px 0 5px;
    width: 100px;
}

.occupancy.free {
    background-color: $green;
}

.occupancy.occupied {
    background-color: $pink;
}

.name {
    font-size: xx-large;
}



@import "simple_calendar";

table.roomsList #roomName {
    padding-left: 150px;
    padding-right: 15px;
}
table.roomsList #normalRow {
    padding-left: 30px;
    padding-right: 30px;
}

header{
    font-size: large;
}

collapse{
    height: auto;
}

.simple-calendar {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: medium;
    .day {
        font-family: helvetica;
        font-size: small;
    }
    .content{
        font-size: small;
    }

    .wday-0 {
        font-size: small;
    }
    .wday-1 {
        font-size: small;
    }
    .wday-2 {
        font-size: small;
    }
    .wday-3 {
        font-size: small;
    }
    .wday-4 {
        font-size: small;
    }
    .wday-5 {
        font-size: small;
    }
    .wday-6 {
        font-size: small;
    }
  
    .today {
        background-color: cornflowerblue;
    }
    .past {
        font-size: small;
    }
    .future {
        font-size: small;
    }
  
    .start-date {
        font-size: small;
    }
  
    .prev-month {
        font-size: small;
    }
    .next-month {
        font-size: small;
    }
    .current-month {
        font-size: small;
    }
  
    .has-events {
        font-size: small;
    }
  }
