// Place all the styles related to the SearchResults controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.search_container {
    height: 100px;
    width: 100%;
    border: 2px;
}