<h1>New Location</h1>

<%= render 'form', location: @location %>

<%= link_to "Home", root_url, class: "btn btn-secondary link-btn" %>
<%= link_to 'Back', edit_user_registration_path, class: "btn btn-secondary link-btn" %>
