<nav class="navbar navbar-dark navbar-custom">
  <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to rooms_path, class: 'nav-link ' + route_active_class?(rooms_path) do %>
            <i class="fas fa-door-open"></i> Rooms
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to search_results_path, class: 'nav-link ' + route_active_class?(search_results_path) do %>
            <i class="fas fa-search"></i> Search
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to building_map_path, class: 'nav-link ' + route_active_class?(building_map_path) do %>
            <i class="fas fa-map"></i> Map
          <% end %>
        </li>
        <%# remove the url query from building_map_path %>
        <% if request.path == building_map_path.split('?')[0] %>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" id="nav-link-navigation"> <i class="fas fa-directions" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i> Navigation </a>
          </li>
        <% end %>
      </ul>
  </div>
</nav>
